/* Make the body margin and padding 0*/
body {
    margin: 0;
    padding: 0;
}

p {
    padding-left: 20px;
    font-size: x-large;
}

/* Navigation Bar */
.navbar {
}

.navbar-list {
    margin: 0;
    padding: 0;
    list-style-type: none;    
    background-color: teal;
    overflow: hidden;
}

.navbar-item {
    float: left;
}

.navbar-item a { 
    display: block;
    color: black;
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
    padding: 30px 50px;
} 

.navbar-item a:hover {
    background-color: #222;
    color: white;
}

/* Main Page Body */
h1 {
    margin: 20px;
}

/* Sell Page */



/* Log In Page */
.div-login {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 800px;
    height: 450px;
    background-color: #222;
    color: teal;
    overflow: scroll;
}

.div-login h1 {
    text-align: center;
    font-size: 40px;
}

.div-login hr {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 70px;
}
.div-login input{
    display: block;
    width: 400px;
    margin: 30px;
    margin-left: auto;
    margin-right:auto;
    font-size: 40px;
}

.div-login .button-div {
    /* can't use margin-auto here to center for some reason */
    display: inline-block;
    margin-left: 200px;
    margin-top: 20px;
}
 
 /* need to make sure the p is also inline */
.div-login .login-register-div, .login-register-div p {
    display: inline-block;
}

.div-login p {
    margin-left: 70px;
    font-size: medium;
}

.div-login a {
    margin-left: 10px;
    text-decoration: none;
    color: aqua;
}




